*{margin: 0;
  padding: 0;
    box-sizing: border-box;}

.sheader{display: inline-block;
        width: 100%;
        background-color: #00b0ffb5;
        background-image: url("/img/pattern.png");
        background-position: center; }

   
.logo{width: 150px;
      margin-top: 20px;}

section>h1 {margin-top: 15px;
            margin-right: 70%;}       

span{color: gray;}

#Tb{color:#00b0ffb5;}

.dataarticolo {font-size: small;
                color: grey;
                margin-bottom: 15px;}

.mainsection > p{font-size: smaller;}  

.sectioncenter{margin-right: 40%;
                margin-top: 20px;
                margin-bottom: 20px;}

#evidenziato{background-color: yellow;}
ul{padding-left: 20px;
  margin-right: 40%;
  margin-bottom: 20px;}

table{margin-right: 40%;
    border-collapse: collapse;}

.tablehead{color: white;
            background-color: #00b0ffb5;
            font-size: 15px;
            text-align: left;
           }

.tabled{background-color:lightblue;
        width: 15%;}


.loremfinal{margin-top: 20px;
            margin-right: 40%;
            margin-bottom: 20px;}

#ultimolorem{color: black;}

.interesting{margin-bottom: 10px;
            color: grey;}
