*{margin: 0;
  padding: 0;
    box-sizing: border-box;}

.backgroundh{display: inline-block;
            background-size: cover;
            width: 10%;
           }  

.sheader{display: inline-block;
        width: 100%;
        background-color: #00b0ffb5;}
   
.logo{width: 150px;
        margin-top: 20px;
        float: left;}

span{color: gray;}
#Tb{color:#00b0ffb5;;}
.dataarticolo {font-size: small;
                color: grey;}